extends layout

block footer
	div.commandLineBlock
	div.commandLineBody
		input.commandLineInput(type='text',id='commandLine',placeholder="Enter Command or type :help for help.") 
		button(onclick='commitButton()') GO
block content
	h1	#{title}
	canvas#myCanvas(width='1300', height='450',style="border:1px solid #000000;")