doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/custom-style.css')
    script(src='/javascripts/canvas-script.js')

  body
    div.wrapper
        block content
    footer.footer
        block footer


