doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/custom-style.css')
    script(src='/javascripts/exports-hack.js')
    script(src='/javascripts/models.js')
    script(src='/javascripts/view-canvas.js')

  body(onload='canvasOn()')
    div.wrapper
        block content
    footer.footer
        block footer